<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>KernelSearch configuration</comment>
<entry key="presolve">2</entry>
<entry key="time_limit">900</entry>
<entry key="mipgap">1e-12</entry>
<entry key="threads">8</entry>
<entry key="sorter">ItemSorterByValueAndAbsoluteRC</entry>
<entry key="kernel_builder">KernelBuilderPositive</entry>
<entry key="kernel_size">0.1</entry>
<entry key="bucket_size">0.51</entry>
<entry key="bucket_builder">AggregatedClustersBucketBuilder</entry>
<entry key="kernel_time_limit">20</entry>
<entry key="iterations">2</entry>
<entry key="bucket_time_limit">30</entry>
<entry key="privileged_items_percentage">0.2</entry>
</properties>
